---
layout: default
permalink: /en/
lang: en
ref: index
---

{% include hero.html %}

{% include about.html %}

{% include video.html %}

{% include foto.html %}

{% include partner-precedenti.html %}

{% include statistic.html %}

{% include latest-news.html %}

{% comment %}
{% include rockstar-speakers.html %}
{% endcomment %}

{% include location-map.html %}

{% include venue.html %}

{% include twitter-feed.html %}

{% comment %}
{% include partners.html %}
{% endcomment %}

{% comment %}
{% include subscribe.html %}
{% endcomment %}

{% comment %}
{% include tickets.html %}
{% endcomment %}

{% include tickets-2.html %}
